.NavBar {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 80px;
}

.navMenu {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;
}

.navMenu a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navMenu a:hover {
  background: #d61e1e;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.navBarLogo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.menuIcon {
  color: #fff;
  display: none;
}

@media all and (max-width: 960px) {
  .NavBar {
    position: relative;
  }

  .navMenu {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 1s ease;
    justify-content: start;
  }

  .navMenu.active {
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 0.8) 0%,
      rgba(253, 29, 29, 0.8) 50%,
      rgba(252, 176, 69, 0.8) 100%
    );

    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    box-shadow: 0px 5px 10px #fe4c4a;
  }

  .navMenu a {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navMenu a:hover {
    background-color: #d61e1e;
    border-radius: 0;
  }

  .navBarLogo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 25%);
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 20%);
    font-size: 1.8rem;
    cursor: pointer;
    font-size: 2rem;
  }
}

@media all and (max-width: 470px) {
  .navBarLogo {
    transform: translate(0%, 75%);
  }
  .navBarLogo h1 {
    font-size: 1.5rem;
  }
  .menuIcon {
    font-size: 1.5rem;
    transform: translate(-100%, 50%);
  }
}

@media all and (max-height: 550px) {
  .navMenu {
    height: 100vw;
  }
}
